<nav>
    <div class="nav-wrapper">
        <a href="#!" class="brand-logo">Logo</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li>

                <a class="dropdown-trigger" data-target="menu-ver" href="mobile.html">

                    Ver<i class="material-icons right">arrow_drop_down</i>
                </a>
            </li>
            <li>

                <a class="dropdown-trigger" data-target="menu-modificar" href="mobile.html">

                    Modificar<i class="material-icons right">arrow_drop_down</i>
                </a>
            </li>
        </ul>
        <ul id="menu-modificar" class="dropdown-content">
            <li><a href="#">Articulos</a></li>
            <li><a href="#">Materias</a></li>
            <li><a href="#">Comisiones</a></li>
        </ul>
        <ul id="menu-ver" class="dropdown-content">
            <li><a href="#">Articulos</a></li>
            <li><a href="#">Materias</a></li>
            <li><a href="#">Comisiones</a></li>
        </ul>
        
    </div>
</nav>
<ul class="sidenav" id="mobile-demo">

    <li><a href="sass.html">Sass1</a></li>
    <li><a href="badges.html">Components</a></li>
    <li><a href="collapsible.html">Javascript</a></li>
    <li><a href="mobile.html">Mobile</a></li>
</ul>
